<section>
  <h2 class="title">نمونه کارها</h2>

  <p-tabView>
    <p-tabPanel header="انگولار">
      <div class="bg-zinc-900 border border-zinc-600 grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-5 rounded-3xl mt-4 p-5">
        <div class="col-span-1">
          <img class="rounded-3xl w-full object-cover" src="../../../assets/images/recentWorks/1.png" alt="">
        </div>
        <div class="col-span-1 md:col-span-2 flex flex-col">
          <h2 class="title text-gray-500 after:hidden">ادمین پنل</h2>
          <p class="description text-gray-500">ادمین پنل یک سامانه مدیریتی تحت وب است که برای کنترل و مدیریت سایت یا برنامه‌های وب توسعه داده می‌شود. این پنل امکانات و قابلیت‌های متنوعی را ارائه می‌دهد که به شما اجازه می‌دهد بتوانید برنامه‌ها و سایت‌های خود را مدیریت کنید. همچنین، این پنل به شما امکان می‌دهد نقش‌های کاربران را مدیریت کنید و سطوح دسترسی متفاوتی را به آنها اختصاص دهید. با استفاده از پنل ادمین، مدیران سایت می‌توانند عملکرد وب سایت خود را بهینه‌سازی کنند و به راحتی به نیازهای کاربران پاسخ دهند</p>
          <a class="button bg-zinc-400 text-zinc-900 mt-auto mr-auto" href="javascript:">
            نمایش
          </a>
        </div>
      </div>
      <div class="bg-zinc-900 border border-zinc-600 grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-5 rounded-3xl mt-4 p-5">
        <div class="col-span-1">
          <img class="rounded-3xl w-full object-cover" src="../../../assets/images/recentWorks/1.png" alt="">
        </div>
        <div class="col-span-1 md:col-span-2 flex flex-col">
          <h2 class="title text-gray-500 after:hidden">جی مدرن</h2>
          <p class="description text-gray-500">ادمین پنل یک سامانه مدیریتی تحت وب است که برای کنترل و مدیریت سایت یا برنامه‌های وب توسعه داده می‌شود. این پنل امکانات و قابلیت‌های متنوعی را ارائه می‌دهد که به شما اجازه می‌دهد بتوانید برنامه‌ها و سایت‌های خود را مدیریت کنید. همچنین، این پنل به شما امکان می‌دهد نقش‌های کاربران را مدیریت کنید و سطوح دسترسی متفاوتی را به آنها اختصاص دهید. با استفاده از پنل ادمین، مدیران سایت می‌توانند عملکرد وب سایت خود را بهینه‌سازی کنند و به راحتی به نیازهای کاربران پاسخ دهند</p>
          <a class="button bg-zinc-400 text-zinc-900 mt-auto mr-auto" href="javascript:">
            نمایش
          </a>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="طراحی">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-4">
        <a *ngFor="let item of items_recentWorks" href="{{item.link}}" class="flex flex-col gap-3 p-3 rounded-3xl bg-zinc-900 hover:bg-zinc-700 transition-all delay-300">
          <div class="w-full overflow-hidden rounded-3xl">
            <img class="w-full object-cover" src="../../../assets/images/recentWorks/{{item.img}}.png" alt="{{item.title}}">
          </div>
          <h2 class="font-IRANSansFaNumBold text-lg">{{item.title}}</h2>
        </a>
      </div>
    </p-tabPanel>
  </p-tabView>

</section>
