<section>
  <h2 class="title">نمونه کارها</h2>

  <p-tabView>
    <p-tabPanel header="انگولار">
      <div class="bg-zinc-900 border border-zinc-600 grid grid-cols-1 rounded-3xl mt-4 p-5">
        <div class="flex flex-col">
          <h2 class="title text-gray-500 after:hidden">ادمین پنل</h2>
          <p class="description text-gray-500">
            پس توضیحات ؟
          </p>
          <a class="button bg-zinc-400 text-zinc-900 mt-auto mr-auto" href="https://admin-panel.shayankolahi.ir/">
            نمایش
          </a>
        </div>
      </div>
      <div class="bg-zinc-900 border border-zinc-600 grid grid-cols-1 rounded-3xl mt-4 p-5">
        <div class="flex flex-col">
          <h2 class="title text-gray-500 after:hidden">فروشگاه</h2>
          <p class="description text-gray-500">
            پس توضیحات ؟
          </p>
          <a class="button bg-zinc-400 text-zinc-900 mt-auto mr-auto" href="">
            نمایش
          </a>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="طراحی">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-4">
        <a *ngFor="let item of items_recentWorks" href="{{item.link}}" class="flex flex-col gap-3 p-3 rounded-3xl bg-zinc-900 hover:bg-zinc-700 transition-all delay-300">
          <div class="w-full overflow-hidden rounded-3xl">
            <img class="w-full object-cover" ngSrc="../../../assets/images/recentWorks/{{item.img}}.png" fill="contain" style="position: static;" alt="{{item.title}}">
          </div>
          <h2 class="font-IRANSansFaNumBold text-lg">{{item.title}}</h2>
        </a>
      </div>
    </p-tabPanel>
  </p-tabView>

</section>
