@font-face {
  font-family: 'Estedad-Bold';
  src: url('./../fonts/Estedad-Bold.ttf') format('ttf');
  src: url('./../fonts/Estedad-Bold.woff') format('woff');
  src: url('./../fonts/Estedad-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Estedad-Medium';
  src: url('./../fonts/Estedad-Medium.ttf') format('ttf');
  src: url('./../fonts/Estedad-Medium.woff') format('woff');
  src: url('./../fonts/Estedad-Medium.woff2') format('woff2');
}
