<section class="my-10">
  <div class="container">
    <div class="grid grid-cols-2 gap-4">
      <div class="flex flex-col">
        <span class="text-main text-base mb-5">اطلاعات بیشتر</span>
        <h2 class="text-4xl text-gray-800 Shabnam_Bold_FD">درباره من</h2>
        <p class="mt-8 text-xl text-gray-400 leading-10" >
        <span class="flex flex-col text-gray-600 gap-1 mb-8">
          <span *ngFor="let item of items_aboutMe" class="flex items-center gap-3">
            <img class="w-6 h-6 object-contain" src="../../../assets/images/icons/{{item.img}}.svg" alt="{{item.img}}">
            {{item.title}}
          </span>
        </span>
        حدود 2 ساله که در
        <a class="text-blue-600" href="" target="_blank">شرکت ایران تکنولوژی</a>
        مشغول به کارم و
        بعد از مدتی که html css js رو به حد خوبی رسوندم رفتم سراغ
        <b>انگولار</b>
        و باهاش یه پروژه ادمین پنل درست کردم
        ( در ادامه معرفیش میکنم )
        </p>
      </div>
      <div class="flex flex-col">
        <span class="text-main text-base mb-5">پل ارتباطی</span>
        <h2 class="text-4xl text-gray-800 Shabnam_Bold_FD">تماس با من</h2>
        <span class="flex flex-col text-gray-600 gap-1 mt-8 text-xl text-gray-400 leading-10">
          <a href="{{item.type}}:{{item.title}}" class="flex hover:text-main transition-all items-center gap-3" *ngFor="let item of items_contactMe">
            <img class="w-6 h-6 object-contain" src="../../../assets/images/icons/{{item.img}}.svg" alt="{{item.img}}">
            {{item.title}}
          </a>
        </span>
        <span class="mt-auto flex flex-wrap gap-2">
          <a *ngFor="let item of items_socialMedia" href="javascript:"
             class="w-12 h-12 border flex justify-center items-center rounded-full bg-main hover:bg-main2 transition-all">
            <img class="w-7 h-7 object-contain" src="../../../assets/images/icons/{{item}}.svg" alt="{{item}}">
          </a>
        </span>
      </div>
    </div>
  </div>
</section>
