<section>
  <h2 class="title">درباره من</h2>
  <div class="description">
    <p>
      سلام 🖐
      من شایان کلاهی هستم، متولد سال 1382.
      <br>
    دو سال سابقه کار در <a class="text-blue-400" href="https://www.iran-tech.com/" target="_blank" rel="nofollow"> شرکت ایران تکنولوژی </a> به عنوان طراح سایت دارم.
      در این مدت، با چالش‌های زیادی روبرو شدم و تجارب ارزشمندی کسب کردم.
    توانایی حل مسئله، خلاقیت، دقت و نظم، توانایی کار تیمی و روابط عمومی قوی از جمله مهارت‌های نرمی هستند که در طی سال‌ها تلاش به دست آورده‌ام.
    با اینکه در حال حاضر دارای مدرک دیپلم هستم، علاقه زیادی به ادامه تحصیل در دانشگاه دارم.
    من به دنبال شغلی چالش‌برانگیز در زمینه طراحی و توسعه وب هستم که در آن بتوانم از مهارت‌ها و تجربیات خود به بهترین نحو استفاده کنم و در کنار آن به یادگیری و ارتقای مهارت‌های خود ادامه دهم.
    فردی خلاق، با انگیزه و مشتاق به یادگیری هستم. از کار تیمی لذت می‌برم و به دنبال چالش‌های جدید هستم.
    </p>
  </div>
</section>
