<section id="angular-project" class="my-16 py-16 bg">
  <div class="container">
    <div class="w-full flex justify-center flex-col items-center">
      <h2 appTitle class="text-white">نمونه کار با انگولار</h2>
      <p class="mt-0 mb-0 max-w-[500px] text-center text-xl text-gray-100 leading-10">من برای نمونه کار انگولار یه ادمین پنل درست ساختم</p>
    </div>
    <div class="grid grid-cols-2 mt-8 gap-4 items-center">
      <div>
        <img class="w-full object-contain rounded" src="https://assets.startbootstrap.com/img/screenshots/themes/sb-admin-2.png" alt="">
      </div>
      <div>
        <p class="text-gray-200 leading-10">
          Angular
          یک فریمورک قدرتمند است که پایه محکمی برای ساخت برنامه های کاربردی وب مدرن فراهم می کند. با استفاده از ابزارهای آسان و ویژگی های عالی، توسعه دهندگان می توانند به سرعت برنامه های بسیار کاربردی و تعاملی ایجاد کنند.
        </p>
        <div class="flex gap-3 mt-10">
          <a href="https://github.com/shayan-kolahi/admin-panel" target="_blank" appBtn class="flex items-center gap-2">
            <img class="w-6 h-6 object-contain" src="../../../assets/images/icons/link.svg" alt="github">
            لینک نمایش پروژه
          </a>
          <a href="https://github.com/shayan-kolahi/admin-panel" target="_blank" appBtn class="flex items-center gap-2">
            <img class="w-6 h-6 object-contain" src="../../../assets/images/icons/github.svg" alt="github">
            سوروس پروژه در گیت هاب
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
