.bg{
  background-image: url("../../../assets/images/angular-and-cypress.jpg");
  background-repeat: repeat;
  background-size: 30px;
  background-blend-mode: darken;
  background-color: rgba(215, 26, 26, 0.21);
}
