<footer class="text-gray-600 body-font">
  <div class="bg-gray-100">
    <div class="container py-5 flex items-center sm:flex-row flex-col">
      <a href="javascript:" class="flex items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 457 527.6400146484375"
             class="w-14 h-14">
          <path
                d="M65.28 207.3L359 376.9l32.65-18.85v-37.71L97.93 150.75l-32.65 18.84zm163.2 245l65.27-37.68L0 245V131.91L228.48 0 457 131.91v75.38L228.48 75.37l-65.28 37.69L457 282.65v113.08L228.48 527.64 0 395.73v-75.37z"
                fill="#23b4e7"></path>
        </svg>
        <h2 class="Shabnam_Bold_FD text-main m-0 text-3xl">شایان</h2>
      </a>
      <p class="text-xl text-gray-400 sm:mr-auto sm:mt-0 mt-4">
        تمامی حقوق این سایت متعلق به شایان کلاهی میباشد
      </p>
    </div>
  </div>
</footer>
