<header class="">
<!--  bg-white-->
  <div class="bg-gray-100 py-5">
    <div class="container">
      <div class="flex items-center">
        <a href="javascript:" class="flex items-center gap-1">
          <svg class="w-14 h-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 457 527.6400146484375">
            <path d="M65.28 207.3L359 376.9l32.65-18.85v-37.71L97.93 150.75l-32.65 18.84zm163.2 245l65.27-37.68L0 245V131.91L228.48 0 457 131.91v75.38L228.48 75.37l-65.28 37.69L457 282.65v113.08L228.48 527.64 0 395.73v-75.37z"
                  fill="#23b4e7"/>
          </svg>
          <h1 class="Shabnam_Bold_FD text-main m-0 text-3xl">شایان</h1>
        </a>
        <nav class="flex gap-4 mr-10">
          <a href="javascript:" class="p-2 text-lg text-gray-500 hover:text-main transition-all">خانه</a>
          <a href="javascript:" class="p-2 text-lg text-gray-500 hover:text-main transition-all">درباره من</a>
          <a href="javascript:" class="p-2 text-lg text-gray-500 hover:text-main transition-all">وبلاگ</a>
          <a href="javascript:" class="p-2 text-lg text-gray-500 hover:text-main transition-all">نمونه کار ها</a>
          <a href="javascript:" class="p-2 text-lg text-gray-500 hover:text-main transition-all">اخبار</a>
          <a href="javascript:" class="p-2 text-lg text-gray-500 hover:text-main transition-all">مهارت ها</a>
        </nav>
        <button appBtn class="mr-auto">بیشتر</button>
      </div>
    </div>
  </div>
</header>
