<header class="absolute top-0 right-0 w-full z-50">
  <div class="container">
    <div class="flex items-center py-4">
      <a href="javascript:" class="flex items-center gap-1">
        <svg class="w-14 h-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 457 527.6400146484375">
          <path d="M65.28 207.3L359 376.9l32.65-18.85v-37.71L97.93 150.75l-32.65 18.84zm163.2 245l65.27-37.68L0 245V131.91L228.48 0 457 131.91v75.38L228.48 75.37l-65.28 37.69L457 282.65v113.08L228.48 527.64 0 395.73v-75.37z"
                fill="#23b4e7"/>
        </svg>
        <h1 class="text-main m-0 text-3xl font-Shabnam_B">شایان</h1>
      </a>
      <nav class="mr-auto flex gap-4">
        <button *ngFor="let item of items_header" (click)="scroll_to_section(item.id)"
           class="py-2
                  mx-2
                  text-lg
                  text-white
                  hover:text-main
                  transition-all">
          {{item.title}}</button>
      </nav>
    </div>
  </div>
</header>
