@import "../../../assets/scss/variables";
aside{
  position: sticky;
  top: 1rem;
  width: 100%;
  .your-image{
    background: linear-gradient(137.84deg, #3F3F40 2.69%, #303030 93.75%);
    border-radius: 32px;
    margin: 0 auto 1.875rem auto;
    overflow: hidden;
    height: calc(100% - 3.75rem);
    width: calc(100% - 3.75rem);
    transition: all .3s ease-in-out;
  }
  .your-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
      font-size: 1.625rem;
      margin-bottom: 1rem;
      position: relative;
      font-family: $font-family-2;
    }
    p{
      background: #2a2a2b;
      font-size: 0.8rem;
      font-weight: 500;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      img{
        width: 25px;
        height: 25px;
        object-fit: contain;
      }
    }
  }
  .list-social-media{
    padding: 2rem 0 0;
    margin: 2rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.75rem;
    border-top: 1px solid #383838;
    li{
      width: 100%;
      >div , >a{
        display: flex;
        align-items: center;
        gap: 1rem;
        i{
          height: 3rem;
          width: 3rem;
          background: #202021;
          border-radius: 12px;
          box-shadow: 0 16px 30px rgba(0, 0, 0, 0.25);
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #494949;
          svg{
            width: 18px;
            height: 18px;
            fill: #fff;
          }
        }
        >div{
          width: calc(100% - 4rem);
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding-left: 10px;
          h3{
            color: #D6D6D6;
            font-size: 0.75rem;
            opacity: .7;
          }
          h4{
            color: #FCFCFC;
            font-size: 0.875rem;
            direction: ltr;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
