<section class="banner py-20 relative flex items-center">
  <span class="absolute right-0 top-5">
    <svg style="transform: rotateY(180deg)" width="48" height="95" viewBox="0 0 48 95" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="0.5" cy="47.5" r="47.5" fill="url(#paint0_radial_6:121)"></circle>
      <defs>
        <radialGradient id="paint0_radial_6:121" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.5) rotate(90) scale(95)">
          <stop stop-color="white"></stop>
          <stop offset="0.569" stop-color="#F0F4FD"></stop>
          <stop offset="0.993" stop-color="#D9E0F0"></stop>
        </radialGradient>
      </defs>
    </svg>
  </span>
  <span class="absolute left-0 bottom-0">
    <svg style="transform: rotateY(180deg)" width="491" height="490" viewBox="0 0 491 490" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="356.5" cy="356.5" r="356.5" fill="url(#paint0_linear_6:37)"></circle>
      <defs>
        <linearGradient id="paint0_linear_6:37" x1="356.5" y1="0" x2="356.5" y2="713" gradientUnits="userSpaceOnUse">
          <stop stop-color="#4A6CF7"></stop>
          <stop offset="1" stop-color="#1E3BB3"></stop>
        </linearGradient>
      </defs>
    </svg>
  </span>
  <div class="container">
    <div class="grid grid-cols-2 gap-4 w-full relative z-10">
      <div class="flex items-center">
        <div class="flex flex-col">
          <span class="text-2xl mb-3 text-gray-400">با عرض سلام و خسته نباشید 👋 من</span>
          <h1 class="text-5xl text-gray-800 Shabnam_Bold_FD">شایان کلاهی هستم</h1>
          <h2 class="text-3xl my-3 text-gray-500"> برنامه نویس و طراح وب</h2>
          <div class="flex gap-3 mt-5">
            <button appBtn>نمونه کار ها</button>
            <button appBtn>درباره من</button>
          </div>
        </div>
      </div>
      <div class="flex items-center">
        <img class="w-[520px] h-[520px] mr-auto object-cover rounded-full" src="../../../assets/images/shayan.jpg" alt="shayan">
      </div>
    </div>
  </div>
</section>
