<section id="banner" class="flex items-center flex-wrap w-full py-14 lg:py-28 relative z-[2]">
  <img class="absolute inset-0 z-[-1] object-cover w-full h-full brightness-[.1]" src="../../../assets/images/frontendWallpaper.jpg" alt="asd">

  <div class="container">
    <div class="grid grid-cols-2 gap-4">
      <div class="col-span-2 min-[992px]:col-span-1 max-[991px]:order-1 flex flex-col justify-center items-start">
        <span class="text-white mb-5 text-lg">سلام 👋</span>
        <div class="flex gap-4 items-end mb-5">
          <h2 appTitle class="text-white text-4xl">شایان کلاهی</h2>
          <span appTitle class="text-white text-4xl">هستم</span>
        </div>
        <h2 class="text-white text-2xl mb-5">برنامه نویس و طراح وب</h2>

        <div class="flex flex-col text-gray-600 gap-1 leading-10">
          <a href="{{item.type}}:{{item.title}}"
             class="flex text-white hover:text-main transition-all items-center gap-3"
             *ngFor="let item of items_contactMe">
              <img class="w-4 h-4 object-contain"
                   src="../../../assets/images/icons/{{item.img}}.svg"
                   alt="{{item.img}}">
              {{item.title}}
          </a>
          <span class="flex text-white transition-all items-center gap-3">
            <img class="w-4 h-4 object-contain"
                 src="../../../assets/images/icons/location-pin.svg"
                 alt="location-pin">
            تهران
          </span>
        </div>


        <span class="mt-4 flex flex-wrap gap-2">
          <a *ngFor="let item of items_socialMedia"
             href="{{item.link}}"
             target="_blank"
             class="w-10
                    h-10
                    flex
                    justify-center
                    items-center
                    rounded-full
                    hover:bg-main2
                    transition-all">
            <img class="w-6 h-6 object-contain"
                 src="../../../assets/images/icons/{{item.title}}.svg"
                 alt="{{item.title}}">
          </a>
        </span>

      </div>
      <div class="col-span-2 min-[992px]:col-span-1 flex items-center min-[992px]:justify-end justify-center">
        <div class="p-3 rounded-full border-w">
          <img class="w-60 h-60 sm:w-96 sm:h-96 rounded-full object-cover" src="../../../assets/images/shayan.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

</section>
