<section class="my-16">
  <div class="container">
    <div class="grid grid-cols-2 mt-8 gap-4 items-center">
      <div>
        <h2 apptitle class="text-2xl font-Shabnam_B m-0">مهارت های من</h2>

        <div class="grid grid-cols-2 mt-8 gap-4 EN_direction">
          <div *ngFor="let item of items_skills" class="flex flex-col">
            <h2 appTitle class="text-lg mb-1">{{item.title}}</h2>
            <div>
              <span class="flex w-full h-5 bg-gray-300 rounded-full">
                <span [style.width]="item.amount+'%'" class="bg-main2 bg flex h-5 text-white justify-end p-2 items-center rounded-full">
                  <span class="text-xs">{{item.amount}}%</span>
                </span>
              </span>
            </div>
          </div>
        </div>

      </div>
      <div class="flex justify-end items-center">
        <img class="w-3/4 object-contain" src="../../../assets/images/skill.jpg" alt="skill">
      </div>
    </div>
  </div>
</section>
