<section class="py-10 bg-slate-100">
  <div class="container">
    <div class="w-full flex justify-center flex-col items-center">
      <h2 class="text-4xl text-gray-800 Shabnam_Bold_FD">نمونه کارهای من</h2>
      <p class="mt-3 max-w-[500px] text-center text-xl text-gray-400 leading-10">متنی که بعدا قراره توصیحاتی باشه رو انجا مینویسم :) </p>
    </div>
    <div class="grid grid-cols-3 gap-4 mt-8">
      <a *ngFor="let item of items_recentWorks"
         class="group p-5 flex flex-col items-center justify-center bg-white rounded-xl shadow border hover:bg-main transition-all"
         href="{{item.link}}"
         target="_blank">
        <img class="w-full h-52 rounded-xl object-cover border"
             src="../../../assets/images/recentWorks/{{item.img}}.png"
             alt="{{item.title}}">
        <h2 class="group-hover:text-white transition-all text-2xl text-gray-600 mt-8 Shabnam_Bold_FD">{{item.title}}</h2>
        <div class="flex gap-3 mt-5">
          <i class="group-hover:bg-stone-200 transition-all bg-html w-8 h-8 rounded-xl bg-stone-100 flex justify-center items-center p-1"><img class="w-full h-full object-contain" src="../../../assets/images/icons/html5.svg" alt="html5"></i>
          <i class="group-hover:bg-stone-200 transition-all bg-css w-8 h-8 rounded-xl bg-stone-100 flex justify-center items-center p-1"><img class="w-full h-full object-contain" src="../../../assets/images/icons/css3.svg" alt="css"></i>
          <i class="group-hover:bg-stone-200 transition-all bg-js w-8 h-8 rounded-xl bg-stone-100 flex justify-center items-center p-1"><img class="w-full h-full object-contain" src="../../../assets/images/icons/js.svg" alt="js"></i>
        </div>
      </a>
    </div>
  </div>
</section>
