@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Shabnam_FD";
  src: url("./assets/fonts/Shabnam-FD/Shabnam-FD.eot");
  src: url("./assets/fonts/Shabnam-FD/Shabnam-FD.eot?#iefix") format('embedded-opentype'),
  url("./assets/fonts/Shabnam-FD/Shabnam-FD.woff2") format('woff2'),
  url("./assets/fonts/Shabnam-FD/Shabnam-FD.woff") format('woff'),
  url("./assets/fonts/Shabnam-FD/Shabnam-FD.ttf") format('truetype'),
  url("./assets/fonts/Shabnam-FD/Shabnam-FD.svg#Shabnam-FD") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Shabnam_Bold_FD";
  src: url("./assets/fonts/Shabnam-Bold-FD/Shabnam-Bold-FD.eot");
  src: url("./assets/fonts/Shabnam-Bold-FD/Shabnam-Bold-FD.eot?#iefix") format('embedded-opentype'),
  url("./assets/fonts/Shabnam-Bold-FD/Shabnam-Bold-FD.woff2") format('woff2'),
  url("./assets/fonts/Shabnam-Bold-FD/Shabnam-Bold-FD.woff") format('woff'),
  url("./assets/fonts/Shabnam-Bold-FD/Shabnam-Bold-FD.ttf") format('truetype'),
  url("./assets/fonts/Shabnam-Bold-FD/Shabnam-Bold-FD.svg#Shabnam-Bold-FD") format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  direction: rtl;
  overflow-x: hidden;
  @apply font-Shabnam_B
}

.FA_direction{
  direction: rtl;
}
.EN_direction{
  direction: ltr;
}
