@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/scss/fonts";
@import "./assets/scss/variables";

body ,
html {
  font-family: $font-family-1;
  overflow-x: hidden;
  direction: rtl;
  min-height: 100vh;
  background: #F6F6F6;
}

